body {
    background-image: url('image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: sans-serif;
}

  .zebra-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .zebra-table td {
    padding: 10px;
    border: none;
  }
  
  .zebra-table .odd {
    background-color: #111111; 
  }

  .zebra-table .odd2 {
    background-color: #225042; 
  }

  .zebra-table .odd3 {
    background-color: #0d3116; 
  }
a {
    color: #90c3eb; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
    color: #ff5733; 
}

a[download] {
    background-color: #0078d4; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
}

a[download]:hover {
    background-color: #ff5733; 
}
.red-bold {
    color: red;
    font-weight: bold;
}
